.header {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1px;
}
.navigationMenu {
  display: flex;
  font-size: 1rem;

  gap: 48px;
  align-items: center;
}
.user {
  display: flex;
}
